body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

@font-face {
    font-family: 'Bills Mafia'; /* Name your font */
    src: url('./fonts/bills_mafia-webfont.woff') format('woff'),
    font-weight: normal; /* Adjust as needed */
    font-style: normal; /* Adjust as needed */
}

#magic-8-ball {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: Bills Mafia
}

h2 {
    font-size: 12px;
    color: #555; /* Light gray text */
    margin-top: -10px; /* Optional: Adjust spacing */
    margin-bottom: 20px; /* Optional: Add space after the subtitle */
    font-weight: normal; /* Optional: Make the subtitle less bold */
    font-style: italic;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#response-area img {
    max-width: 100%;
    margin: 10px 0;
}

#response-area p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
